#navbar{
    background-color: rgb(255, 112, 112);
    height: 75px
}
img{
    filter:brightness(100%)
}
img:hover{
    filter:brightness(70%)
}
#box{
    position:relative;  
    
}
#moveable_text{
    position:absolute;
    top:3% ;
    left:63% ;
    font-weight: bold;
    color: rgb(0, 0, 0);
    opacity:0%;
    width:100%;
    height:100%;

}
#moveable_text:hover{
    opacity:100%;
    width:100%;''
}